[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tseriesEntropy"]
	path = tseriesEntropy
	url = https://github.com/sgiannerini/tseriesentropy
